@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  font-family: 'Kiwi Maru', serif;
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: $BLUE_DARKEST;
  background-color: $BLUE_LIGHT;
  font-size: $FONT_SIZE;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

#app {
  max-width: 960px;
  margin: auto;
}

.table-wrapper {
  margin: 2rem 0;
  max-height: 80vh;
  overflow-y: scroll;
  position: relative;

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th, td {
      vertical-align: middle;
      padding: .5rem;
    }

    thead {
      position: sticky;
      top: 0;
    }

    tfoot {
      position: sticky;
      bottom: 0;
    }

    thead, tfoot {
      td, th {
        background-color: $ORANGE_LIGHTER;
      }
    }

    tbody {
      tr {
        background-color: $ORANGE_LIGHTEST;
      }
    }

    td.number {
      text-align: right;
    }

    /* セルの色 */
    @for $i from 0 to 11 {
      td.number.c#{$i} {
        background-color: mix(white, $ORANGE_LIGHTER, (10 - $i) * 7%);
      }
    }
  }
}


// --------------------------------------------------------------------

@import "./form.scss";
@import "./button.scss";
@import "./common.scss";
