@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  font-family: 'Kiwi Maru', serif;
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: $BLUE_DARKEST;
  background-color: $BLUE_LIGHT;
  font-size: $FONT_SIZE;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

#app {
  max-width: 960px;
  margin: auto;
}

// --------------------------------------------------------------------

@import "./form.scss";
@import "./button.scss";
@import "./common.scss";
