@import "./variables";

$btn-colors: (
  "blue" : $BLUE_BASE,
  "white": $WHITE_BASE,
  "orange": $ORANGE_BASE,
  "yellow": $YELLOW_BASE,
  "green": $GREEN_BASE,
);

.btn {
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  background: rgba(0,0,0,0);
  padding: .25em 1em .4em;
  margin: 1em .75em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.big {
    font-size: 1.5em;
  }

  &.small {
    font-size: .8em;
  }

  &.circle {
    border-radius: 1.5em;
  }

  &.soft {
    border-radius: 3px;
  }

  @mixin btn-depth($main-color) {
    $depth: 3px;
    $depth-color: darken($main-color, 33.3%);

    box-shadow: 0 $depth 0 $depth-color;

    &:hover {
      margin-top: calc(1em + #{$depth});
      margin-bottom: calc(1em - #{$depth});
      box-shadow: 0 0 0 $depth-color;
    }
  }

  @mixin btn-border($main-color) {
    border: 2px solid $main-color;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: #FFF;
    }

    &.depth {
      @include btn-depth($main-color);

      &:hover {
        border: 2px solid $main-color;
        color: $main-color;
      }
    }
  }

  @mixin btn-fill($main-color) {
    border: 2px solid $main-color;
    background-color: $main-color;
    color: $WHITE_LIGHTEST;

    &:hover {
      background-color: rgba(0,0,0,0);
      color: $main-color;
    }

    &.depth {
      @include btn-depth($main-color);

      &:hover {
        background-color: $main-color;
        color: $WHITE_LIGHTEST;
      }
    }
  }

  @each $key, $code in $btn-colors {
    &.#{$key} {
      @include btn-border($code);
    }

    &.#{$key}-fill {
      @include btn-fill($code);
    }
  }
}
