.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@for $i from 1 through 5 {
  .margin-#{$i} {
    margin: 1rem * $i;
  }

  .margin-t-#{$i} {
    margin: 1rem * $i 0 0 0;
  }

  .margin-tb-#{$i} {
    margin: 1rem * $i 0;
  }

  .margin-lr-#{$i} {
    margin: 0 1rem *$i;
  }

  .margin-b-#{$i} {
    margin: 0 0 1rem * $i 0;
  }

  .padding-#{$i} {
    padding: 1rem * $i;
  }

  .padding-t-#{$i} {
    padding: 1rem * $i 0 0 0;
  }

  .padding-tb-#{$i} {
    padding: 1rem * $i 0;
  }

  .padding-lr-#{$i} {
    padding: 0 1rem *$i;
  }

  .padding-b-#{$i} {
    padding: 0 0 1rem * $i 0;
  }
}
